name: Linux
on:
  - push
  - pull_request
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        service:
          - almalinux-9
          - almalinux-10
          - alpine-linux
          - arch-linux
          - conda
          - debian-11
          - debian-12
          - fedora-rawhide
          - ruby-3.2
          - ruby-3.3
          - ruby-3.4
          - ubuntu-22.04
          - ubuntu-24.04
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build Docker image
        run: |
          docker compose build ${{ matrix.service }}
      - name: Run
        run: |
          docker compose run ${{ matrix.service }}
